.forgot-center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: fit-content;
    padding: 10px;
}

.forgot-form h6 {

    color: #1890ff;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.title{

    color: grey;
    font-size: 9px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
   
}

.forgot-form {
    width: 320px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

h4 {
    margin-top: 150px;
    color: #1890ff;
    font-weight: 500;
    font-size: 28px;
    margin-left: 90px;
    font-family: 'Roboto', sans-serif;
    margin-top: -0px;
    margin-left: 40px;
}

.login-form-forgot {
    float: right;
    font-size: 12px;
}

.login-form-button {
    width: 100%;
    margin-top: 20px;
}

.forgot-form-button {
    width: 100%;
}

.txt1 {
    font-family: sans-serif;
    font-size: 12px;
    color: #666666;
    line-height: 3.5;
    text-align: center;
    margin-left: 35px;
}



#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: center;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}